body{
    margin: 0px;
    padding: 0px;
    

}
.title{
    display: flex;
    height: 80px;
    width: 100vw;
    /* flex-direction: row; */
    align-items: center;
    margin: 2px;

}
.logo{
    width: 70px;
    padding-left: 10px;
    padding-right: 10px;
}
.menubar{
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-evenly;
}
.searchbar{
    display: flex;
    width: 300px;
    
}
.top{
    display: flex;
    justify-content: center;
    align-items:center;
    padding-right: 20px;
    

}
.banner{
    align-items: center;
    justify-content: center;
}
.products{
    font-family: 'Courier New', Courier, monospace;
    font-family: bold;
    font-size: 40px;
}
.sonline{
    color: gray;
    font-size: 15px;
}
.playstore{
    display: flex;
}